# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/
/.idea
/target
examples-project.iml

/simpleCalcAppJava_FX/target
/simpleCalcAppJava_FX/simpleCalcAppJava_FX.iml

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

test.txt
